.task-creator{
  height: 3.375rem;
  display: flex;
  justify-content: center;
  gap: .5rem;
  max-width: 46rem;
  margin: calc(0px - 3.375rem/2) auto 0 auto;
}

.task-creator button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  font-size: .875rem;
  font-weight: bold;
  width: 5.625rem;
  background: var(--blue-dark);
  color: var(--white);
  border-radius: 8px;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;

  transition: background-color .1s;
}

.task-creator button:hover{
  background: var(--blue);
}

.task-creator input{
  flex: 1;
  border-radius: 8px;
  padding: 16px;
  background: var(--gray-500);
  color: var(--gray-100);
  font-size: 1rem;
  border: 1px solid transparent;
  outline: none;
}

.task-creator input::placeholder{
  color: var(--gray-300);
}

.task-creator input:focus{
  border-color: var(--purple-dark);
}

@media screen and (max-width: 768px){
  .task-creator{
    margin-left: 2%;
    margin-right: 2%;
  }
}